{% extends 'base.html.twig' %}

{% block title %}GitSchool {{ 'Confirm Email' }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Подтвердите подписку по email. Вам на электронную почту пришло письмо, перейдите по ссылке из него.</h1>
{% endblock %}