input, select{
    margin-bottom: 30px;
}

.courseCreatingBlock{
    margin-bottom: 15px;
}

.form_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left_part{
    text-align:left;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.right_part{
    text-align:left;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}